/* Responsive styles for different screen sizes */
/* Desktop  */
@media (min-width: 992px) {
    body {
        max-width: 100%;
    }

}

/* Medium device */
@media (max-width: 992px) {
    .container {
        padding: 40px 20px;
    }

    /* hero responsive styles  */
    .hero-container {
        gap: 40px;
    }

    .microphone-image-bg-overlay {
        width: 250px;
        height: 250px;
        margin-top: 0px;
        position: relative;
        top: 65px;
        left: 0px;
    }

    .microphone-image-bg-overlay>img {
        width: 80px;
        height: auto;
    }

    .microphone-image-bg-overlay .new-badge {
        top: 10px;
        right: 0px;
    }

    .hero-text-btn {
        margin-top: 50px;
    }

    /* NavBar responsive  Styles */
    .nav-bar {
        padding: 20px 30px;
    }

    /* nav menu  */
    .menu {
        gap: 30px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .feature-epsod-cards {
        justify-content: center;
        gap: 50px;
    }

    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .tall,
    .wide,
    .big,
    .small {
        grid-column: span 2;
        grid-row: auto;
    }

    .section-title {
        font-size: 36px;
    }

    .footer-section {
        padding: 40px 0px;
        background-size: cover;
        background-position: center;
        height: auto;
    }
}

/* Small device */
@media screen and (max-width: 576px) {

    /* main content  */
    .container {
        padding: 40px 10px;
    }

    /* about the podcast section responsive styles  */
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .btn-primary {
        padding: 8px 12px;
        font-size: 16px;
    }

    .btn-primary i {
        font-size: 16px;
    }


    /* hero section responsive styles  */
    .hero-section {
        background-size: contain;
        background-position: center;
    }

    .hero-container {
        gap: 40px;
    }

    .microphone-image-bg-overlay {
        width: 195px;
        height: 195px;
        margin-top: 0px;
        position: relative;
        top: 105px;
        left: 0px;
    }

    .microphone-image-bg-overlay>img {
        width: 70px;
        height: auto;
    }

    .microphone-image-bg-overlay .new-badge {
        top: 0px;
        right: -10px;
    }

    .hero-text-btn {
        flex-direction: column;
        gap: 20px;
        margin-top: 90px;
    }

    .hero-text-btn h1 {
        font-size: 30px;
    }

    .hero-btns {
        gap: 10px;
    }

    .hero-btns .hero-btn-2 {
        padding: 8px 12px;
        font-size: 16px;
    }

    /* NavBar responsive Styles */
    .nav-bar {
        padding: 18px 20px;
    }

    .nav-logo .logo-text {
        font-size: 28px;
    }

    /* nav menu  */
    .menu-links {
        display: none;
    }

    /* nav btn  */
    .nav-btn {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    .hamburger-menu i {
        font-size: 26px;
        cursor: pointer;
    }


    .about-podcast-content {
        gap: 40px;
    }

    .about-text h1 {
        font-size: 30px;
    }

    /* why choose responsive  */
    .why-choose-title {
        font-size: 28px;
        padding-top: 40px;
        margin-bottom: -10px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .tall,
    .wide,
    .big,
    .small {
        grid-column: span 1;
    }

    /* Featured Episodes section styles responsive */
    .section-title h1 {
        font-size: 30px;
    }

    .feature-epsod-cards {
        justify-content: center;
        gap: 40px;
    }

    .feature-epsod-cards .video-card {
        width: 330px;
    }

    .video-card .video .iframe-video {
        width: 330px;
    }

    /* meet the host section styles responsive  */

    .meet-host-title {
        font-size: 30px;
    }

    .host-info {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .host-info>h3 {
        font-size: 26px;
    }

    .meet-host-card {
        flex-direction: column;
        gap: 15px;
    }

    /* footer responsive styles */
    .footer-section {
        padding: 40px 0px;
        background-size: 100% 100%;
        background-position: center;
        height: auto;
    }

    .footer-logo a {
        font-size: 36px;

    }

    .footer-social-links {
        max-width: 300px;
        flex-wrap: wrap;
    }

}