* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(26, 12, 48);
  max-width: 1600px;
  margin: 0 auto;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
  gap: 150px;
}

.container {
  padding: 60px 80px;
}

.white-text {
  color: white;
}

.green-text {
  color: #09db6b;
}

.gray-text {
  color: #bcbec2;
}

p {
  font-size: 16px;
}

.text-size-18 {
  font-size: 18px;
}


.btn-primary {
  background: #dbd639;
  background: linear-gradient(20deg,
      rgb(233, 227, 63) 21%,
      rgb(241, 63, 137) 40%,
      rgb(157, 20, 236) 90%);
  color: white;
  padding: 8px 15px;
  gap: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.gradient-text {
  background: linear-gradient(8deg,
      rgb(233, 227, 63) 10%,
      rgb(241, 63, 137) 40%,
      rgb(95, 8, 146) 84%);
  background-clip: text;
  color: transparent;
}

.hover-effect:hover {
  color: rgb(241, 63, 137);
  transition: color 0.3s ease-in-out;
}

/* NavBar Styles */
.nav-bar {
  padding: 20px 80px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.564);
}

.nav-logo .logo-text {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
  gap: 0px;
}

.nav-logo a .tech {
  color: white;

}

.hamburger-menu {
  display: none;
}

/* nav menu  */
.menu {
  gap: 60px;
}

.menu li a {
  color: white;
  font-size: 18px;
}

/* nav btn  */
.nav-btn {
  transition: all .3s ease;
}
.nav-btn i {
  transition: transform 0.3s ease-in-out;
  font-size: 18px;
}

.nav-btn:hover{
  box-shadow: 3px 3px 20px rgb(226, 226, 49);
}

.nav-btn:hover i {
  transform: translateX(8px);
}

/* hero section styles  */
.hero-section {
  background-image: url(assets/hero-bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hero-container {
  flex-direction: column;
  text-align: center;
  gap: 60px;
}

.microphone-image-in-hero-banner {
  position: relative;
}

.microphone-image-bg-overlay {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid #42038e;
  margin-top: 25px;
}

.microphone-image-bg-overlay > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: auto;
  animation: floatMic 3s ease-in-out infinite;

}

/* animation  */
@keyframes floatMic {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }

  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }

  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

.microphone-image-bg-overlay .new-badge {
  position: absolute;
  top: 25px;
  right: 0px;
  background-color: #0bd66a;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: -2px 3px 10px rgb(2, 145, 28);
  animation: pulseBadge 1.5s ease-in-out infinite;
  transform-origin: center;
}

/* NEW badge pulse animation */
@keyframes pulseBadge {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    color: rgb(23, 7, 59);
  }

  100% {
    transform: scale(1);
  }
}


/* hero text and button styles  */
.hero-text-btn {
  flex-direction: column;
  gap: 20px;
}

.hero-text-btn h1 {
  font-size: 48px;
  color: white;
}

.hero-btns {
  gap: 20px;
}

.hero-btn-1 {
  transition: all 0.3s ease;
}

.hero-btn-1:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgb(212, 221, 80);
}

.hero-btns .hero-btn-2 {
  border: 1px solid green;
  background: transparent;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero-btn-2:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px green;

}


/* About section */
.about-podcast-content {
  flex-direction: column;
  text-align: center;
  gap: 50px;
  line-height: 30px;
}

.about-text {
  max-width: 686px;
  margin: 0 auto;
}

.about-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-join-text {
  margin-top: 20px;
}

/* Divider */
.h-border {
  width: 100%;
  height: 1px;
  background: #3d3d3d;
}

/* Progress counter */
.progress-counter .counter {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.progress-counter .counter.flex {
  justify-content: center;
}

.progress-counter .counter i {
  font-size: 24px;
}

.progress-counter .counter-text {
  font-size: 14px;
  margin-top: 8px;
  text-transform: uppercase;
}


/* why choose section styles  */

.techwave-features {
  background: #200b46;
}

.why-choose-title {
  color: #ffff;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  margin-bottom: -30px;
}

.feature-grid {
  display: grid;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.feature-card {
  background-color: rgb(38, 17, 83);
  padding: 30px;
  border-radius: 15px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.feature-card:hover {
  box-shadow: 5px 5px 20px rgb(8, 8, 137);
}

.feature-card h3 {
  font-size: 20px;
  color: #ffff;
}

.feature-card p {
  line-height: 24px;
  color: #bcbec2;
}

.icon img {
  width: auto;
}

.icon .exclusive-img {
  width: 70px;
  height: 70px;
  margin-bottom: -12px;
}

.feature-card .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tall {
  grid-column: span 1;
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
}

.small {
  grid-column: span 1;
}

/* Featured Episodes section styles  */
.section-title h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.feature-epsod-cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-epsod-cards .video-card {
  background: rgb(38, 17, 83);
  height: 360px;
  width: 320px;
  border-radius: 15px;
  flex-direction: column;
  gap: 0px;
  transition: all 0.2s ease;
}

.video-card .video .iframe-video {
  width: 320px;
  height: 187px;
  border-radius: 15px 15px 0 0;
}

.video-card .card-description {
  padding: 15px;
  flex-direction: column;
  align-items: start;
}

.video-card .video-duration {
  gap: 5px;
}

.feature-epsod-cards .video-card:hover {
  box-shadow: 5px 5px 25px rgb(10, 10, 104);
}

/* meet the host section styles  */

.meet-host-title {
  color: #ffff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.meet-host-card {
  width: 100%;
  border-radius: 15px;
  background: rgb(38, 17, 83);
  gap: 20px;
  padding: 20px;
}

.host-info {
  flex-direction: column;
  align-items: start;
}

.host-info>p {
  line-height: 24px;
}

.host-info>h3 {
  font-size: 30px;
}

.host-social a {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.host-social a img {
  width: 20px;
  height: 20px;
  transition: all .3s ease;
}

.host-social a:hover img {
  transform: scale(1.3);
}

/* footer section styles  */
.footer-section {
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.footer-logo a {
  font-size: 50px;
  font-weight: bold;
  gap: 0px;
}

.footer-logo .tech {
  color: white;
}

.footer-social-links {
  gap: 30px;
  max-width: 600px;
  margin-bottom: 10px;
}

.footer-social-links a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #bcbec2;
  font-size: 14px;
  margin-top: -10px;
}

.footer-social-links a:hover {
  text-shadow: 2px 2px 20px rgba(243, 244, 248, 0.838);
}

.footer-social-links a img {
  width: 20px;
  height: auto;
}

.copyRight {
  text-align: center;
  font-size: 14px;
}